* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: lightcoral;
}

.header,
.footer,
.section {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
}

.sidebar {
  width: 20%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #212121;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar li {
  margin-bottom: 0.5rem;
  list-style: none;
}

.section {
  background: lightblue;
}

.footer {
  background: lightgreen;
}
