* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Page Section Style */
.page_section {
  width: 100%;
  height: 100vh;
  background: #eee;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

/* Navi Bar Style */
.navi {
  width: 20%;
  height: 100%;
  background: #ddd;
}

/* Navi Bar Style */
.panel {
  width: 80%;
  height: 100%;
  background: #ccc;
}
