@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
}

.drop-lists-wrapper::-webkit-scrollbar {
  width: 10px;
}

.drop-lists-wrapper::-webkit-scrollbar-track {
  background-color: gray;
}

.drop-lists-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(29, 78, 216);
}

.drop-lists-wrapper::-webkit-scrollbar-button {
  display: none;
}

/* Common block-cell Style */
.block-cell {
  background: rgb(3, 7, 18);
  box-shadow: 0 0 0.25rem rgba(165, 163, 174, 0.3);
  border-radius: 6px;
  padding: 20px;
  height: 100%;
}
